{% extends 'base.html' %}
{%block title%} Index {%endblock%}

{%block content%}  

<h1>Index Page</h1>
<ul>
    {% for person in people %}
    <li>
        {{person}}
    </li>
    {% endfor %}
</ul>

<h1>New person</h1>
<form action="{{url_for('index.html')}}" method="post">
    <input type="text" name="name" required placeholder="name"><br>
    <input type="number" name="age" required placeholder="age"><br>
    <input type="text" name="job" required placeholder="job"><br>
    
</form>
{% endblock %}