/* Body background color */
body {
    background-color: #d9c298;

}

/* Primary button color */
.btn-primary {
    background-color: #638889; /* Dark green */
    border-color: #638889;
    color: #FFFFFF; /* White text color */
}

/* Text color */
body, .text-dark {
    color: #444444; /* Dark gray */
}

/* Secondary button color */
.btn-secondary {
    background-color: #313b30; /* Light green */
    border-color: #9DBC98;
    color: #444444; /* Dark gray text color */
}

/* Card background color */
.card {
    background-color: #FFFFFF; /* White */
    border-color: #EAEAEA; /* Light gray */
}

/* Card header background color */
.card-header {
    background-color: #EBD9B4; /* Light brown */
    border-color: #EBD9B4;
}

/* Modal background color */
.modal-content {
    background-color: #FFFFFF; /* White */
    color: #000000; /* Dark gray text color */
}

/* Form input background color */
.form-control {
    background-color: #FFFFFF; /* Light brown */
    color: #000000; /* Dark gray text color */
}

/* Form select background color */
.form-select {
    background-color: #FFFFFF; /* Light brown */
    color: #000000; /* Dark gray text color */
}
